    
body{
  color: deepskyblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

a{
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

header{
  margin-top: 16px;
  margin-bottom: 48px;
}
